div.all-communities {
	text-align: left;
}

div.all-communities a {
	text-decoration: none;
}

div.all-communities ul.list {
	list-style-type: square;
}

div.all-communities p.community-name {
	margin-top: 15px;
}

div.all-communities p.short-desc {
	font-style: italic;
	color: gray;
	margin: 0 0 0.25em 1em;
}

div.all-communities p.collection-name {
	
}

div.all-communities p.subcommunity-name {
	text-decoration: underline;
}
