div.all-communities {
	text-align: left;
}

div.all-communities a {
	text-decoration: none;
}

div.all-communities p.community-name {
	font-size: large;
	font-weight: bold;
}

div.all-communities p.short-desc {
	font-style: italic;
}

div.all-communities p.collection-name {
	font-weight: bold;
}
