div.all-collections {
	text-align: left;
}

div.all-collections a {
	text-decoration: none;
}

div.all-collections ul.list {
	list-style-type: square;
}

div.all-collections p.collection-name {
	font-size: large;
	margin-top: 15px;
}

div.all-collections p.short-desc {
	font-style: italic;
	color: gray;
	margin-left: 2em;
}

div.all-collections p.item-name {

}
