div.all-items {
	text-align: left;
}

div.all-items a {
	text-decoration: none;
}

div.all-items ul.list {
	list-style-type: square;
}

div.all-items p.item-name {
	margin-top: 15px;
}

div.all-items p.author {
	font-style: italic;
	color: gray;
	margin: 0 0 0.25em 2em;
}

div.all-items p.bitstream-name {

}
