div.community {
	text-align: left;
}

div.community a {
	text-decoration: none;
}

div.community div.community-logo {
	
}

div.community p.community-name {
	font-size: large;
	font-weight: bold;
}

div.community p.short-desc {
	font-style: italic;
}

div.community div.introduction {
	margin: 1em 0;
}

div.community div.news {

}

div.community div.copyright {
	font-size: small;
	font-style: italic;
	margin: 0.5em 0;
}

div.community ul.list {
	list-style-type: square;
	margin: 0 1em;
}

div.community p.collection-name {
	font-size: medium;
}

div.community p.subcommunity-name {
	text-decoration: underline;
}

div.recent-submissions p.item-name {
	
}

div.recent-submissions p.author {
	color: gray;
	font-style: italic;
}