/* Default font settings */html {	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;	font-size: 14px;	line-height: 1.5em;	text-align: center;}/* Default margin padding and border */html, body, p, div {	margin : 0;	padding : 0;}html, body, img {	border : none;}.site table {	margin: auto;}.site table td {	padding: 0.25em;}.site table th {	padding: 0.25em;	font-weight: bold;}/* Default list settings */ul {	list-style: none;}.loadinit {	width: 100%;	height: 500px;	background: url("../img/icons/loaderbar.gif") center center no-repeat;}/* Wrapping around images */.wrap {	float : left;	margin-right : 1em; 	margin-bottom : 0.5em;}/* Hiding content */.hidden {	display: none;}.padding5 {	padding: 5px;}.margin5 {	margin: 5px;}.left {	text-align: left;}.border {	border: 1px solid #C5DBEC;	-moz-border-radius: 5px 5px 5px 5px;	-webkit-border-radius: 5px;}.full {	width: 95%;}.part80 {	width: 80%;	float: left;}.part20 {	width: 20%;	float: left;}.clear {	clear: both;}.fleft {	float: left;}.fright {	float: right;}/* Validation icons */#validation li {	padding: 5px;	display: inline;	float: right;}div.form-panel {	text-align: left;}div.form-panel label {	display:block;	padding: 5px;}.error {	font-size: normal;	color: red;}.success {	font-size: normal;	color: green;}.loading {	background: url("../img/icons/loading-large.gif") left center no-repeat;	text-align: left;	font-size: large;	padding: 1em 2.5em;	margin: 0.5em;}/*Loader status */#load-status {	position: fixed;	top: 0;	left: 40%;	width: 20%;	text-align: center;	background: yellow;	font-size: 12px;}.ui-icon {	float: left;}.ui-icon-close {	cursor: pointer;}div.all-collections {
	text-align: left;
}

div.all-collections a {
	text-decoration: none;
}

div.all-collections ul.list {
	list-style-type: square;
}

div.all-collections p.collection-name {
	margin-top: 15px;
}

div.all-collections p.short-desc {
	font-style: italic;
	color: gray;
	margin: 0 0 0.25em 1em;
}

div.all-collections p.item-name {
	
}
div.all-communities {
	text-align: left;
}

div.all-communities a {
	text-decoration: none;
}

div.all-communities ul.list {
	list-style-type: square;
}

div.all-communities p.community-name {
	margin-top: 15px;
}

div.all-communities p.short-desc {
	font-style: italic;
	color: gray;
	margin: 0 0 0.25em 1em;
}

div.all-communities p.collection-name {
	
}

div.all-communities p.subcommunity-name {
	text-decoration: underline;
}
div.all-groups {
	text-align: left;
}

div.all-groups a {
	text-decoration: none;
}

div.all-groups ul.list {
	list-style-type: square;
}

div.all-groups p.group-name {
	margin-top: 15px;
}

div.all-communities p.member-user {

}

div.all-groups p.member-group {
	text-decoration: underline;
}

div.all-items {
	text-align: left;
}

div.all-items a {
	text-decoration: none;
}

div.all-items ul.list {
	list-style-type: square;
}

div.all-items p.item-name {
	margin-top: 15px;
}

div.all-items p.author {
	font-style: italic;
	color: gray;
	margin: 0 0 0.25em 2em;
}

div.all-items p.bitstream-name {

}
div.all-stats {
	text-align: left;
}

div.all-stats a {
	text-decoration: none;
}

div.all-users {
	text-align: left;
}

div.all-users a {
	text-decoration: none;
}

div.all-users p.user-name {
	margin-top: 15px;
}

div.all-users p.user-email {
	font-style: italic;
	color: gray;
	margin: 0 0 1em 1em;
}

div.collection {
	text-align: left;
}

div.collection a {
	text-decoration: none;
}

div.collection div.collection-logo {
	
}

div.collection p.collection-name {
	font-size: large;
	font-weight: bold;
}

div.collection p.short-desc {
	font-style: italic;
}

div.collection div.introduction {
	margin: 1em 0;
}

div.collection div.copyright {
	font-size: small;
	font-style: italic;
	margin: 0.5em 0;
}

div.collection div.news {

}

div.collection div.provernance {

}

div.collection div.licence {
	font-family: "Courier New", monospace;
	margin: auto;
}

div.collection ul.list {
	list-style-type: square;
	margin: 0 1em;
}

div.collection p.item-name {
	font-size: medium;
}

div.collection p.author {
	color: gray;
	font-style: italic;
}div.community {
	text-align: left;
}

div.community a {
	text-decoration: none;
}

div.community div.community-logo {
	
}

div.community p.community-name {
	font-size: large;
	font-weight: bold;
}

div.community p.short-desc {
	font-style: italic;
}

div.community div.introduction {
	margin: 1em 0;
}

div.community div.news {

}

div.community div.copyright {
	font-size: small;
	font-style: italic;
	margin: 0.5em 0;
}

div.community ul.list {
	list-style-type: square;
	margin: 0 1em;
}

div.community p.collection-name {
	font-size: medium;
}

div.community p.subcommunity-name {
	text-decoration: underline;
}

div.recent-submissions p.item-name {
	
}

div.recent-submissions p.author {
	color: gray;
	font-style: italic;
}div.group {
	text-align: left;
}

div.group a {
	text-decoration: none;
}

div.group ul.list {
	list-style-type: square;
	margin: 0 1em;
}

div.group p.group-name {
	font-size: large;
	font-weight: bold;
}

div.group p.member-user {
}

div.group p.user-email {
	margin-left: 1em;
	font-style: italic;
	color: gray;
}

div.group div.member-group {
}
div#home {
	background: url("../img/dspace/home.gif") no-repeat;
}

div#home div {
	padding-top: 250px;
	text-align: left;
}
div.item {
	text-align: left;
}

div.item a {
	text-decoration: none;
}

div.item p.item-name {
	font-size: large;
	font-weight: bold;
}

div.item p.short-desc {
	font-style: italic;
}

div.item div.introduction {
	margin: 1em 0;
}

div.item div.handle {
	margin: 0.5em 0;
}

div.item div.news {

}

div.item div.provernance {

}

div.item div.licence {
	font-family: "Courier New", monospace;
	margin: auto;
}

div.item ul.list {
	list-style-type: square;
	margin: 0 1em;
}

div.item p.bitstream-name {
	font-size: medium;
}

div.item p.information {
	padding-left: 15px;
}

div.item p.file-desc {
	font-style: italic;
}body {
	width: 85%;
	margin: auto;
}

div#header {
	background: url("../img/dspace/DSpace.gif") no-repeat;
	height: 100px;
}

div#header p {
	font-size: xx-large;
	padding: 1em;
	font-weight: bold;
}

div#navigation {
	width: 20%;
	float: left;
	text-align: left;
}

div#navigation>div {
	margin-right: 5px;
	padding: 5px;
}

p.headline {
	margin: 5px 0;
	font-size: large;
	font-weight: bold;
	color: blue;
}

div#tab-container {
	width: 80%;
	float: left;
}

div#footer {
	clear: both;
	padding-top: 1em;
}

div.link a:hover {
	font-weight: bold;
}

div.enlarge a:hover {
	font-size: 1.2em;
}

p.head {
	text-align: left;
	font-size: x-large;
	font-weight: bold;
	padding: 15px 5px;
	color: darkblue;
}

p.subhead {
	text-align: left;
	font-size: large;
	font-weight: bold;
	padding: 15px 5px;
	color: darkblue;
}

p.field {
	text-align: left;
	font-size: large;
	font-weight: bold;
	padding: 5px 5px 0 0;
	color: darkblue;
}

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: block;
	margin: 5px;
}
div.user {
	text-align: left;
}

div.user a {
	text-decoration: none;
}

div.user p.user-name {
	font-size: large;
	font-weight: bold;
}

div.user p.user-email {

}

div.user div.user-language {

}

div.user div.user-certificate {

}

div.user div.user-selfreg {

}
