div.all-collections {
	text-align: left;
}

div.all-collections a {
	text-decoration: none;
}

div.all-collections p.collection-name {
	font-size: large;
	font-weight: bold;
}

div.all-collections p.short-desc {
	font-style: italic;
}

div.all-collections p.item-name {
	font-weight: bold;
}
div.all-communities {
	text-align: left;
}

div.all-communities a {
	text-decoration: none;
}

div.all-communities p.community-name {
	font-size: large;
	font-weight: bold;
}

div.all-communities p.short-desc {
	font-style: italic;
}

div.all-communities p.collection-name {
	font-weight: bold;
}
div#links-browse {
	margin-right: 5px;
	padding: 5px;
}

div#links-browse ul {
	margin: 0;
	padding: 0;
}

div#links-browse li {
	display: block;
	margin: 3px;
}
div.collection {
	text-align: left;
}

div.collection a {
	text-decoration: none;
}

div.collection div.collection-logo {
	
}

div.collection p.collection-name {
	font-size: large;
	font-weight: bold;
}

div.collection p.short-desc {
	font-style: italic;
}

div.collection div.introduction {
	margin: 1em 0;
}

div.collection div.copyright {
	font-size: small;
	font-style: italic;
	margin: 0.5em 0;
}

div.collection div.news {

}

div.collection div.provernance {

}

div.collection div.licence {
	font-family: "Courier New", monospace;
	margin: auto;
}

div.collection p.items-head {

}

div.collection p.item-name {
	font-weight: bold;
}

div.collection p.author {
	color: gray;
	font-style: italic;
}div.community {
	text-align: left;
}

div.community a {
	text-decoration: none;
}

div.community div.community-logo {
	
}

div.community p.community-name {
	font-size: large;
	font-weight: bold;
}

div.community p.short-desc {
	font-style: italic;
}

div.community div.introduction {
	margin: 1em 0;
}

div.community div.news {

}

div.community div.copyright {
	font-size: small;
	font-style: italic;
	margin: 0.5em 0;
}

div.community p.collections-head {

}

div.community p.collection-name {
	font-weight: bold;
}div#home {
	background: url("../img/dspace/home.gif") no-repeat;
}

div#home div {
	padding-top: 250px;
	text-align: left;
}
body {
	width: 85%;
	margin: auto;
}

div#header {
	background: url("../img/dspace/DSpace.gif") no-repeat;
	height: 100px;
}

div#header p {
	font-size: xx-large;
	padding: 1em;
	font-weight: bold;
}

div#navigation {
	width: 20%;
	float: left;
	text-align: left;
}

div#navigation p {
	margin-top: 1em;
	font-size: large;
	font-weight: bold;
	color: blue;
}

div#tab-container {
	width: 80%;
	float: left;
}

div#footer {
	clear: both;
	padding-top: 1em;
}
