div.all-collections {
	text-align: left;
}

div.all-collections a {
	text-decoration: none;
}

div.all-collections ul.list {
	list-style-type: square;
}

div.all-collections p.collection-name {
	font-size: large;
	margin-top: 15px;
}

div.all-collections p.short-desc {
	font-style: italic;
	color: gray;
	margin-left: 2em;
}

div.all-collections p.item-name {

}
div.all-communities {
	text-align: left;
}

div.all-communities a {
	text-decoration: none;
}

div.all-communities ul.list {
	list-style-type: square;
}

div.all-communities p.community-name {
	font-size: large;
	margin-top: 15px;
}

div.all-communities p.short-desc {
	font-style: italic;
	color: gray;
	margin-left: 2em;
}

div.all-communities p.collection-name {
	
}

div.all-communities p.subcommunity-name {
	text-decoration: underline;
}
div.all-items {
	text-align: left;
}

div.all-items a {
	text-decoration: none;
}

div.all-items ul.list {
	list-style-type: square;
}

div.all-items p.item-name {
	font-size: large;
	margin-top: 15px;
}

div.all-items p.author {
	font-style: italic;
	color: gray;
	margin-left: 2em;
}

div.all-items p.bitstream-name {

}
div#links-browse {
	margin-right: 5px;
	padding: 5px;
}

div#links-browse ul {
	margin: 0;
	padding: 0;
}

div#links-browse li {
	display: block;
	margin: 3px;
}
div.collection {
	text-align: left;
}

div.collection a {
	text-decoration: none;
}

div.collection div.collection-logo {
	
}

div.collection p.collection-name {
	font-size: large;
	font-weight: bold;
}

div.collection p.short-desc {
	font-style: italic;
}

div.collection div.introduction {
	margin: 1em 0;
}

div.collection div.copyright {
	font-size: small;
	font-style: italic;
	margin: 0.5em 0;
}

div.collection div.news {

}

div.collection div.provernance {

}

div.collection div.licence {
	font-family: "Courier New", monospace;
	margin: auto;
}

div.collection ul.list {
	list-style-type: square;
	margin: 0 1em;
}

div.collection p.item-name {
	
}

div.collection p.author {
	color: gray;
	font-style: italic;
}div.community {
	text-align: left;
}

div.community a {
	text-decoration: none;
}

div.community div.community-logo {
	
}

div.community p.community-name {
	font-size: large;
	font-weight: bold;
}

div.community p.short-desc {
	font-style: italic;
}

div.community div.introduction {
	margin: 1em 0;
}

div.community div.news {

}

div.community div.copyright {
	font-size: small;
	font-style: italic;
	margin: 0.5em 0;
}

div.community ul.list {
	list-style-type: square;
	margin: 0 1em;
}

div.community p.collection-name {
	
}

div.recent-submissions p.item-name {
	
}

div.recent-submissions p.author {
	color: gray;
	font-style: italic;
}div#home {
	background: url("../img/dspace/home.gif") no-repeat;
}

div#home div {
	padding-top: 250px;
	text-align: left;
}
body {
	width: 85%;
	margin: auto;
}

div#header {
	background: url("../img/dspace/DSpace.gif") no-repeat;
	height: 100px;
}

div#header p {
	font-size: xx-large;
	padding: 1em;
	font-weight: bold;
}

div#navigation {
	width: 20%;
	float: left;
	text-align: left;
}

div#navigation p {
	margin-top: 1em;
	font-size: large;
	font-weight: bold;
	color: blue;
}

div#tab-container {
	width: 80%;
	float: left;
}

div#footer {
	clear: both;
	padding-top: 1em;
}

div.link a:hover {
	font-weight: bold;
}

div.enlarge a:hover {
	font-size: 1.2em;
}

p.head {
	text-align: left;
	font-size: x-large;
	font-weight: bold;
	padding: 15px 5px;
	color: darkblue;
}

p.subhead {
	text-align: left;
	font-size: large;
	font-weight: bold;
	padding: 15px 5px;
	color: darkblue;
}